.elementor-14 .elementor-element.elementor-element-33bf699 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-4792092
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-14
  .elementor-element.elementor-element-4792092
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-126bd5f {
  padding: 112px 0 50px;
}

.elementor-14
  .elementor-element.elementor-element-7ed1450
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-78c1b95
  > .elementor-widget-container {
  padding: 0 0 20px;
}

.elementor-14 .elementor-element.elementor-element-6795d4a {
  padding: 130px 0 0;
}

.elementor-14
  .elementor-element.elementor-element-a67cb25
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-14
  .elementor-element.elementor-element-a67cb25
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-1fbc830
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-c026f76 {
  padding: 102px 0 22px;
}

.elementor-14
  .elementor-element.elementor-element-9f825b7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-a9c713a
  > .elementor-widget-container {
  margin: 0% 40% 0% 0%;
  padding: 0 0 18px;
}

.elementor-14 .elementor-element.elementor-element-cf01fc2 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 110px;
}

.elementor-14
  .elementor-element.elementor-element-b808f82
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-3633288 {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-399aeff
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-814e258 {
  padding: 122px 0 33px;
}

.elementor-14
  .elementor-element.elementor-element-2120b13
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-5b99b29
  > .elementor-widget-container {
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-e030eac {
  padding: 0;
}

.elementor-bc-flex-widget
  .elementor-14
  .elementor-element.elementor-element-908289d.elementor-column
  .elementor-column-wrap {
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-908289d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-908289d:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-908289d
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

.elementor-14
  .elementor-element.elementor-element-908289d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 15px 30px 0;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 0px;
}

.elementor-14
  .elementor-element.elementor-element-908289d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-908289d
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0% 20%;
}

.elementor-14
  .elementor-element.elementor-element-4afb17e:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-4afb17e
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url(../../2020/05/ruckeli_image_2.jpeg);
  background-size: cover;
}

.elementor-14
  .elementor-element.elementor-element-4afb17e
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 15px 30px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}

.elementor-14
  .elementor-element.elementor-element-4afb17e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-4afb17e
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-5fdb4b0
  .elementor-spacer-inner {
  height: 400px;
}

.elementor-bc-flex-widget
  .elementor-14
  .elementor-element.elementor-element-6a88a69.elementor-column
  .elementor-column-wrap {
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-6a88a69.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-6a88a69:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-6a88a69
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

.elementor-14
  .elementor-element.elementor-element-6a88a69
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 0 30px 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
}

.elementor-14
  .elementor-element.elementor-element-6a88a69
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-6a88a69
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0% 20%;
}

.elementor-14
  .elementor-element.elementor-element-4394e1a
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-1065f46
  > .elementor-widget-container {
  margin: -14px 0 0;
}

.elementor-14
  .elementor-element.elementor-element-dddd5d8
  > .elementor-widget-container {
  margin: -5px 0 0;
}

.elementor-14
  .elementor-element.elementor-element-2292920
  > .elementor-widget-container {
  margin: -5px 0 0;
}

.elementor-14
  .elementor-element.elementor-element-ade1a7e
  > .elementor-widget-container {
  margin: -5px 0 0;
}

.elementor-14 .elementor-element.elementor-element-82b9c3f {
  padding: 0 0 130px;
}

.elementor-14
  .elementor-element.elementor-element-c6c3d42
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-457f1e4 {
  padding: 102px 0 131px;
}

.elementor-bc-flex-widget
  .elementor-14
  .elementor-element.elementor-element-0045e55.elementor-column
  .elementor-column-wrap {
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-0045e55.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-0045e55
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-14
  .elementor-element.elementor-element-0045e55
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-b3a5415
  > .elementor-widget-container {
  padding: 0 0 10px;
}

.elementor-14
  .elementor-element.elementor-element-349a3b5
  > .elementor-widget-container {
  margin: -19px 0 0;
  padding: 0 0 0 25px;
}

.elementor-14
  .elementor-element.elementor-element-976067b:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-976067b
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

.elementor-14
  .elementor-element.elementor-element-976067b
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0% 0% 0% 14%;
  --e-column-margin-right: 0%;
  --e-column-margin-left: 14%;
}

.elementor-14
  .elementor-element.elementor-element-976067b
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-976067b
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 13% 7%;
}

.elementor-14
  .elementor-element.elementor-element-3dac1fc
  > .elementor-element-populated {
  margin: 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}

.elementor-14
  .elementor-element.elementor-element-3dac1fc
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-622b174
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-d3074e4 {
  padding: 111px 0 40px;
}

.elementor-14
  .elementor-element.elementor-element-d27f6fd
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-9aba24c
  > .elementor-widget-container {
  margin: 0;
  padding: 0;
}

.elementor-14
  .elementor-element.elementor-element-820ef33
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0;
}

.elementor-14 .elementor-element.elementor-element-ea75eb5 {
  padding: 0 0 123px;
}

.elementor-14
  .elementor-element.elementor-element-7ca44bf:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-7ca44bf
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

.elementor-14
  .elementor-element.elementor-element-7ca44bf
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 15px 0 0;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 0px;
}

.elementor-14
  .elementor-element.elementor-element-7ca44bf
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-7ca44bf
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 12% 11% 18% 12%;
}

.elementor-14
  .elementor-element.elementor-element-e75ce68:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-e75ce68
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

.elementor-14
  .elementor-element.elementor-element-e75ce68
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}

.elementor-14
  .elementor-element.elementor-element-e75ce68
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-e75ce68
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 12% 0% 18% 12%;
}

.elementor-14
  .elementor-element.elementor-element-5ce39f7:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-5ce39f7
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

.elementor-14
  .elementor-element.elementor-element-5ce39f7
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
}

.elementor-14
  .elementor-element.elementor-element-5ce39f7
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-5ce39f7
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 12% 2% 18% 12%;
}

.elementor-14
  .elementor-element.elementor-element-accaf5e:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-accaf5e
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

.elementor-14
  .elementor-element.elementor-element-accaf5e
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 0 0 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
}

.elementor-14
  .elementor-element.elementor-element-accaf5e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-accaf5e
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 12% 2% 18% 12%;
}

.elementor-14 .elementor-element.elementor-element-187d088 {
  padding: 102px 0 120px;
}

.elementor-bc-flex-widget
  .elementor-14
  .elementor-element.elementor-element-18519ad.elementor-column
  .elementor-column-wrap {
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-18519ad.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-14
  .elementor-element.elementor-element-18519ad
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}

.elementor-14
  .elementor-element.elementor-element-18519ad:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-18519ad
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url(https://stal.qodeinteractive.com/wp-content/uploads/2020/02/h1-background-img.jpg);
}

.elementor-14
  .elementor-element.elementor-element-18519ad
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 30px 0 0;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
}

.elementor-14
  .elementor-element.elementor-element-18519ad
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-18519ad
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 8% 10%;
}

.elementor-14 .elementor-element.elementor-element-57d5ed6 {
  padding: 23px 0 0;
}

.elementor-14
  .elementor-element.elementor-element-28658be
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 3% 20% 0% 0%;
}

.elementor-14
  .elementor-element.elementor-element-6913f1f
  > .elementor-widget-container {
  margin: 0;
}

.elementor-14
  .elementor-element.elementor-element-0a258a3
  > .elementor-widget-container {
  margin: -16px 0 0 35px;
}

.elementor-14
  .elementor-element.elementor-element-ae6f496
  > .elementor-widget-container {
  margin: -13px 0 0 35px;
}

.elementor-14
  .elementor-element.elementor-element-04de232
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 3% 20% 0% 0%;
}

.elementor-14
  .elementor-element.elementor-element-0e8bb28
  > .elementor-widget-container {
  margin: -16px 0 0 35px;
}

.elementor-14
  .elementor-element.elementor-element-207f6ff
  > .elementor-widget-container {
  margin: -13px 0 0 35px;
}

.elementor-14
  .elementor-element.elementor-element-d2f53a3
  > .elementor-column-wrap
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}

.elementor-14
  .elementor-element.elementor-element-d2f53a3:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-14
  .elementor-element.elementor-element-d2f53a3
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url(../../2020/05/ruckeli_image_1.jpeg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-14
  .elementor-element.elementor-element-d2f53a3
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 0 0 30px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 30px;
}

.elementor-14
  .elementor-element.elementor-element-d2f53a3
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14
  .elementor-element.elementor-element-d2f53a3
  > .elementor-element-populated
  > .elementor-widget-wrap {
  padding: 0%;
}

.elementor-14
  .elementor-element.elementor-element-aab747e
  .elementor-spacer-inner {
  height: 464px;
}

@media (min-width: 768px) {
  .elementor-14 .elementor-element.elementor-element-d27f6fd {
    width: 54.462%;
  }

  .elementor-14 .elementor-element.elementor-element-820ef33 {
    width: 45.461%;
  }

  .elementor-14 .elementor-element.elementor-element-18519ad {
    width: 50%;
  }

  .elementor-14 .elementor-element.elementor-element-d2f53a3 {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .elementor-14
    .elementor-element.elementor-element-7ed1450
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-7ed1450
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0%;
  }

  .elementor-14 .elementor-element.elementor-element-6795d4a {
    padding: 69px 0 0;
  }

  .elementor-14
    .elementor-element.elementor-element-1fbc830
    > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }

  .elementor-14
    .elementor-element.elementor-element-a9c713a
    > .elementor-widget-container {
    margin: 0;
    padding: 0;
  }

  .elementor-14
    .elementor-element.elementor-element-908289d
    > .elementor-element-populated {
    margin: 0 0 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-908289d
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 15% 27% 15% 13%;
  }

  .elementor-14
    .elementor-element.elementor-element-4afb17e:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
  .elementor-14
    .elementor-element.elementor-element-4afb17e
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url(https://stal.qodeinteractive.com/wp-content/uploads/2020/03/h1-img-2a-1.jpg);
    background-size: contain;
  }

  .elementor-14
    .elementor-element.elementor-element-4afb17e
    > .elementor-element-populated {
    margin: 0 0 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-4afb17e
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0 0 30px;
  }

  .elementor-14
    .elementor-element.elementor-element-5fdb4b0
    .elementor-spacer-inner {
    height: 340px;
  }

  .elementor-14
    .elementor-element.elementor-element-6a88a69
    > .elementor-element-populated {
    margin: 0 0 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-6a88a69
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 14% 20% 12% 11%;
  }

  .elementor-14
    .elementor-element.elementor-element-0045e55
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0 0 50px;
  }

  .elementor-14
    .elementor-element.elementor-element-b3a5415
    > .elementor-widget-container {
    padding: 0 0 36px;
  }

  .elementor-14
    .elementor-element.elementor-element-349a3b5
    > .elementor-widget-container {
    padding: 25px 28px 0;
  }

  .elementor-14
    .elementor-element.elementor-element-976067b
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-7ca44bf
    > .elementor-element-populated {
    margin: 0 15px 15px 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-7ca44bf
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-e75ce68
    > .elementor-element-populated {
    margin: 0 0 15px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
  }

  .elementor-14
    .elementor-element.elementor-element-e75ce68
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-5ce39f7
    > .elementor-element-populated {
    margin: 15px 15px 0 0;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-5ce39f7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-accaf5e
    > .elementor-element-populated {
    margin: 15px 0 0 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
  }

  .elementor-14
    .elementor-element.elementor-element-accaf5e
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-18519ad
    > .elementor-element-populated {
    margin: 0 0 30px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-18519ad
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 10% 5% 8%;
  }

  .elementor-14
    .elementor-element.elementor-element-d2f53a3:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
  .elementor-14
    .elementor-element.elementor-element-d2f53a3
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url(../../2020/05/ruckeli_image_1.jpeg);
    background-position: 0 0%;
    background-size: cover;
  }

  .elementor-14
    .elementor-element.elementor-element-d2f53a3
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-d2f53a3
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0%;
  }

  .elementor-14
    .elementor-element.elementor-element-aab747e
    .elementor-spacer-inner {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .elementor-14 .elementor-element.elementor-element-126bd5f {
    padding: 112px 0 114px;
  }

  .elementor-14
    .elementor-element.elementor-element-7ed1450
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }

  .elementor-14 .elementor-element.elementor-element-6795d4a {
    padding: 0;
  }

  .elementor-14
    .elementor-element.elementor-element-a67cb25
    > .elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-a67cb25
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 0;
  }

  .elementor-14 .elementor-element.elementor-element-c026f76 {
    padding: 112px 0 40px;
  }

  .elementor-14 .elementor-element.elementor-element-cf01fc2 {
    padding: 0 0 87px;
  }

  .elementor-14 .elementor-element.elementor-element-814e258 {
    padding: 110px 0 40px;
  }

  .elementor-14
    .elementor-element.elementor-element-908289d
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 15% 26% 15% 13%;
  }

  .elementor-14
    .elementor-element.elementor-element-4afb17e:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
  .elementor-14
    .elementor-element.elementor-element-4afb17e
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url(https://stal.qodeinteractive.com/wp-content/uploads/2020/03/h1-img-2a-1.jpg);
    background-size: cover;
  }

  .elementor-14
    .elementor-element.elementor-element-5fdb4b0
    .elementor-spacer-inner {
    height: 300px;
  }

  .elementor-14
    .elementor-element.elementor-element-6a88a69
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 15% 20% 13% 11%;
  }

  .elementor-14 .elementor-element.elementor-element-82b9c3f {
    padding: 0 0 106px;
  }

  .elementor-14 .elementor-element.elementor-element-457f1e4 {
    padding: 102px 0 114px;
  }

  .elementor-14 .elementor-element.elementor-element-0045e55 {
    width: 100%;
  }

  .elementor-14
    .elementor-element.elementor-element-349a3b5
    > .elementor-widget-container {
    padding: 20px 0 0;
  }

  .elementor-14
    .elementor-element.elementor-element-976067b
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 13% 10%;
  }

  .elementor-14 .elementor-element.elementor-element-ea75eb5 {
    padding: 0 0 107px;
  }

  .elementor-14
    .elementor-element.elementor-element-7ca44bf
    > .elementor-element-populated {
    margin: 0 0 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-7ca44bf
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-e75ce68
    > .elementor-element-populated {
    margin: 15px 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-e75ce68
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-5ce39f7
    > .elementor-element-populated {
    margin: 15px 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-5ce39f7
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-accaf5e
    > .elementor-element-populated {
    margin: 15px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }

  .elementor-14
    .elementor-element.elementor-element-accaf5e
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 12% 11% 18% 12%;
  }

  .elementor-14
    .elementor-element.elementor-element-18519ad
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 13% 10%;
  }

  .elementor-14
    .elementor-element.elementor-element-04de232
    > .elementor-element-populated
    > .elementor-widget-wrap {
    padding: 25px 19px 0 0;
  }

  .elementor-14
    .elementor-element.elementor-element-d2f53a3:not(.elementor-motion-effects-element-type-background)
    > .elementor-column-wrap,
  .elementor-14
    .elementor-element.elementor-element-d2f53a3
    > .elementor-column-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url(../../2020/05/ruckeli_image_2.jpeg);
    background-size: cover;
  }

  .elementor-14
    .elementor-element.elementor-element-aab747e
    .elementor-spacer-inner {
    height: 220px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-14 .elementor-element.elementor-element-908289d {
    width: 100%;
  }

  .elementor-14 .elementor-element.elementor-element-4afb17e {
    width: 100%;
  }

  .elementor-14 .elementor-element.elementor-element-6a88a69 {
    width: 100%;
  }

  .elementor-14 .elementor-element.elementor-element-0045e55 {
    width: 100%;
  }

  .elementor-14 .elementor-element.elementor-element-976067b {
    width: 100%;
  }

  .elementor-14 .elementor-element.elementor-element-d27f6fd {
    width: 100%;
  }

  .elementor-14 .elementor-element.elementor-element-7ca44bf {
    width: 50%;
  }

  .elementor-14 .elementor-element.elementor-element-e75ce68 {
    width: 50%;
  }

  .elementor-14 .elementor-element.elementor-element-5ce39f7 {
    width: 50%;
  }

  .elementor-14 .elementor-element.elementor-element-accaf5e {
    width: 50%;
  }

  .elementor-14 .elementor-element.elementor-element-18519ad {
    width: 100%;
  }

  .elementor-14 .elementor-element.elementor-element-d2f53a3 {
    width: 100%;
  }
}
